* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color:  hsl(212, 45%, 89%);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.qr-box-container {
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    max-width: 320px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.qr-img-container > * {
    width: 100%;
    border-radius: 10px;
}

.qr-box-content {
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.qr-box-content p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding: 5px ;
}
.qr-box-content h1{
    font-size: 23px;
    font-weight: 600;
}
